@import url('https://fonts.googleapis.com/css?family=Amiri');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

@import "./abstracts/mixins";
@import "./abstracts/variables";

@import "./base/base";
@import "./base/typography";
@import "./base/fonts";
@import "./base/utilities";

@import "./components/archive-dropdown";
@import "./components/article-content";
@import "./components/blue-bar";
@import "./components/button";
@import "./components/carousel";
@import "./components/gallery-item";
@import "./components/news-row";
@import "./components/statement-text";
@import "./components/team-member";
@import "./components/team-modal";
@import "./components/testimonials";

@import "./layout/navigation";
@import "./layout/footer";

@import "./pages/clients";
@import "./pages/home";
@import "./pages/projects";
@import "./pages/contact";

// #loader {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     z-index: 1;
//     width: 150px;
//     height: 150px;
//     margin: -75px 0 0 -75px;
//     border: 16px solid #f3f3f3;
//     border-radius: 50%;
//     border-top: 16px solid #3498db;
//     width: 120px;
//     height: 120px;
//     -webkit-animation: spin 2s linear infinite;
//     animation: spin 2s linear infinite;
//   }
//   @-webkit-keyframes spin {
//     0% { -webkit-transform: rotate(0deg); }
//     100% { -webkit-transform: rotate(360deg); }
//   }
  
//   @keyframes spin {
//     0% { transform: rotate(0deg); }
//     100% { transform: rotate(360deg); }
//   }