// for testimonials page 
.tpr-testimonial {
    padding: 1.5rem 0 1.5rem;
    text-align: center;
    &__quote {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    &__source {
        color: $tpr-blue;
    }
}


// for testimonials page 

// for slider 
.testimonial-wrapper {
    background: $color-vlight-grey;
    width: 100%;
    .testimonials {
        max-width: 120rem;
        margin: 0 auto;
        p {
            vertical-align: middle;
            text-align: center;
            transition: height 0.4s linear;
            font-size: 2rem;
            span {
                color: $tpr-blue;
            }
        }
    }
}
// for slider 

