// new
.tpr-footer-container {
    @include respond(xlg) {
        height: 30vh;
    }
}


.tpr-footer {
    @include tpr-max-width();
    color: $color-white;

    // new
    &--center {
        @include respond(xlg) {
            height: 30vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &--h-center {
        @include respond(xlg) {
            height: 30vh;
            display: flex;
            align-items: center;
        }
    }

    &__content {
        text-align: center;
        &--left {
            text-align: center;
            padding-top: 0;
            @include respond(lg) {
                text-align: left;
                padding-top: 14.4rem;
            }
        }
    }
    &__logo-main {
        max-width: 5rem;
    }
    &__tel-link {
        color: $color-white;
        font-size: $default-font-size;;
    }
}