.navbar-light .navbar-toggler {
    border: none;
    position: relative;
    &:hover, &:active, &:focus {
       border: none; 
       outline: none;
    }
}
.navbar-brand {
    padding: 0;
    height: 64px;
    width: 50px;
    background: $color-white;
}
.tpr-nav {
    max-width:120rem;
    margin: 0 auto;
    &__link {
        font-size: 2.2rem;
        font-family: 'Amiri', serif;
        color: $tpr-color-primary;
        text-decoration: none!important;
        &:hover {
            /* replacing bootstrap in-built hover color */
            color: $tpr-light-blue;
        }
    }
    &__social-icons {
        position: absolute;
        right: 8rem;
        top: 2.5rem;
        @include respond(lg) {
            right: 2rem;
        }
        .icon {
            padding: 0 4px;
            &:hover {
                color: $tpr-light-blue;
                cursor: pointer;
            }
        }
    }
}
.about { .nav-about { color: $tpr-light-blue; } }
.projects { .nav-projects { color: $tpr-light-blue; } }
.clients { .nav-clients { color: $tpr-light-blue; } }
.approach { .nav-approach { color: $tpr-light-blue; } }
.news { .nav-news { color: $tpr-light-blue; } }
.contact { .nav-contact { color: $tpr-light-blue; } }